
/* This is for slide bar and topbar placement in APP.jsx */

.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  min-width: 0;
}

.page-content {
  padding: 32px;
}

/* This is for Dashboard UI component */
.dashboard {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.dev-text{
  color: brown;
  font-size: 30px;
}